@{
    ViewData["Title"] = "How it Works";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Collaborate</h1>
        </div>
    </header>
    <section class="work">
        <p>
            Here, you can choose whichever platform  you would like to use to communicate with other students and tutors. You can upload essays and past papers for other individuals if you feel it would be helpful for them. You also have access to different essays or past papers that you can use for your benefit.
        </p>
        
    </section>

    <section class=" logo1">
        <img src="~/css/telegram_logo.png" height="200px" width="200px" />
        <h1>Telegram</h1>
        <p>The link displayed is a link that would redirect you to our telegram group chat where you can see resources as well as communicate with others. Telegram Messenger, commonly known as Telegram, is a cloud-based, cross-platform, social media and instant messaging (IM) service. It was originally launched for iOS on 14 August 2013 and Android on 20 October 2013. It allows users to exchange messages, share media and files, and hold private and group voice or video calls as well as public livestreams. It is available for Android, iOS, Windows, macOS, Linux, and web browsers. Telegram offers end-to-end encryption in voice and video calls,[10] and in optional private chats, which Telegram calls Secret Chats.</p>
    </section>

    <section class=" logo2">
        <img src="~/css/discord_logo.png" height="165px" width="225px" />
        <h1>Discord</h1>
        <p>The link displayed is a link that would redirect you to our discord group chat where you can see resources as well as communicate with others. Discord is an instant messaging and VoIP social platform which allows communication through voice calls, video calls, text messaging, and media. Communication can be private or take place in virtual communities called "servers".[note 2] A server is a collection of persistent chat rooms and voice channels which can be accessed via invite links. Discord runs on Windows, macOS, Android, iOS, iPadOS, Linux, and in web browsers. As of 2024, the service has about 150 million monthly active users and 19 million weekly active servers.[8] It is primarily used by gamers, although the share of users interested in other topics is growing.[9] As of March 2024, Discord is the 30th most visited website in the world with 22.98% of its traffic coming from the United States.[10][11] As of March 2022, Discord employs 600 people globally.[12]</p>
    </section>
   
    <section class=" logo3">
        <img src="~/css/gclassroom_logo.png" height="165px" width="220px" />
        <h1>Google Classroom</h1>
        <p>
            The link displayed is a link that would redirect you to our google classroom group chat where you can see resources as well as communicate with others. Google Classroom is a free blended learning platform developed by Google for educational institutions that aims to simplify creating, distributing, and grading assignments. The primary purpose of Google Classroom is to streamline the process of sharing files between teachers and students.[3] As of 2021, approximately 150 million users use Google Classroom.[4]

            Google Classroom uses a variety of proprietary user applications (Google Applications for Education) with the goal of managing student and teacher communication. Students can be invited to join a class through a private code or be imported automatically from a school domain. Each class creates a separate folder in the respective user's Google Drive, where the student can submit work to be graded by a teacher. Teachers can monitor each student's progress by reviewing the revision history of a document, and, after being graded, teachers can return work along with comments and grades.
        </p>
    </section>

</body>
</html>
