@{
    ViewData["Title"] = "Games";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <header>
        <div class="container">
            <h1>Games</h1>
        </div>
    </header>
    <section class="hero">
        
        <p>
            Below are a list of varous games that you can play <br/>
            Have fun while learning
        </p>
        <!--  -->

    </section>

    
        
            <div class="game">
                <div class="game-item">
                    <a href="https://quizizz.com/admin/search/math?source=hero-search-fcbts" target="blank"><img src="~/css/math-image.jpg" /></a>
                    <h3>Math</h3>
                    <a href="https://quizizz.com/admin/search/math?source=hero-search-fcbts" target = "blank" class="btn">Click to view</a>
                    <br />
                </div>
                <div class="game-item">
                    <a href="https://quizizz.com/admin/search/english?source=MainHeader&page=SearchPage&searchSource=normal&arid=c364b111-a3b6-4301-befc-e8606c6ebbb4&apos=" target="blank"><img src="~/css/english.png" /></a>
                    <h3>English</h3>
                    <a href="https://quizizz.com/admin/search/english?source=MainHeader&page=SearchPage&searchSource=normal&arid=c364b111-a3b6-4301-befc-e8606c6ebbb4&apos=" target="blank" class="btn">Click to view</a>
                </div>
                <div class="game-item">
                    <a href="https://quizizz.com/admin/search/science?source=MainHeader&page=SearchPage&searchSource=normal&arid=f2b65831-28a9-4002-9d28-21b87ec9089f&apos=" target="blank"><img src="~/css/science.jpg"></a>
                    <h3>Science</h3>
                    <a href="https://quizizz.com/admin/search/science?source=MainHeader&page=SearchPage&searchSource=normal&arid=f2b65831-28a9-4002-9d28-21b87ec9089f&apos=" target="blank" class="btn">Click to view</a>
                </div>
            </div>

    <div class="game">
        <div class="game-item">
            <a href="https://quizizz.com/admin/search/French%20for%20fun?source=MainHeader&page=SearchPage&searchSource=normal&arid=98c0da76-ecd6-4935-8414-ffa591158137&apos=0" target="blank"><img src="~/css/french.jpg" /></a>
            <h3>French</h3>
            <a href="https://quizizz.com/admin/search/French%20for%20fun?source=MainHeader&page=SearchPage&searchSource=normal&arid=98c0da76-ecd6-4935-8414-ffa591158137&apos=0" target="blank" class="btn">Click to view</a>
            <br />
        </div>
        <div class="game-item">
            <a href="https://quizizz.com/admin/search/english?source=MainHeader&page=SearchPage&searchSource=normal&arid=c364b111-a3b6-4301-befc-e8606c6ebbb4&apos=" target="blank"><img src="~/css/english.png" /></a>
            <h3>English</h3>
            <a href="https://quizizz.com/admin/search/english?source=MainHeader&page=SearchPage&searchSource=normal&arid=c364b111-a3b6-4301-befc-e8606c6ebbb4&apos=" target="blank" class="btn">Click to view</a>
        </div>
        <div class="game-item">
            <a href="https://quizizz.com/admin/search/science?source=MainHeader&page=SearchPage&searchSource=normal&arid=f2b65831-28a9-4002-9d28-21b87ec9089f&apos=" target="blank"><img src="~/css/science.jpg"></a>
            <h3>Science</h3>
            <a href="https://quizizz.com/admin/search/science?source=MainHeader&page=SearchPage&searchSource=normal&arid=f2b65831-28a9-4002-9d28-21b87ec9089f&apos=" target="blank" class="btn">Click to view</a>
        </div>
    </div>
        

</body>

</html>