@{
    ViewData["Title"] = "Resources";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Resources</h1>
        </div>
    </header>
    <section class="collab">
        <div class="container">
            <h2>Explore various Resources <br /> below for your benefit <br /> at your leisure!</h2>
            <img src="~/css/resource_page.png" />
            <a href="https://www.bing.com/search?pglt=137&q=educational+videos&cvid=15879c39e09f4f6abd944db4ef4a7c8e&gs_lcrp=EgRlZGdlKgYIABBFGDkyBggAEEUYOTIGCAEQABhAMgYIAhAAGEAyBggDEAAYQDIGCAQQABhAMgYIBRAAGEAyBggGEAAYQDIGCAcQABhAMgYICBAAGEAyCAgJEOkHGPxV0gEJMTA1NzZqMGoxqAIAsAIA&FORM=ANNAB1&DAF0=1&PC=U531" target="_blank" class="btn">Videos</a>
            <a href="#collection" class="btn">Websites</a>
            <a href="#collection" class="btn">Notes</a>
        </div>
    </section>


</body>

</html>